# Postgres Temporal Service
POSTGRES_SEEDS=postgres_temporal
POSTGRES_USER=temporal
POSTGRES_PASSWORD=temporal
POSTGRES_PWD=temporal  

# Temporal Service
DB=postgres12
DB_PORT=5432
DB_HOST=postgres_temporal

# Temporal UI 
TEMPORAL_ADDRESS=temporal:7233